body{
    background-color: rgb(156, 211, 229);
}
h1{
    text-align:center;
}
h2, h1{
    font-family: Arial, Helvetica, sans-serif;
}
#paragraph2{
    background-color: white;
    margin: 2px 3px 2px 20px;
    border: 3px solid rgb(2, 130, 2);
    border-width: 5px;
    padding: 20px;
    width: 57%;
    line-height: 2;
}
.blue{
    background-color: rgb(3, 3, 113);
    color: white;
    padding: 15px;
    border: 2px solid black;
}
ol{
    list-style-type: decimal-leading-zero;
    margin-left:16px;
    padding-left: 8px;
}
p a:link{
    color:brown;
}
table{    
    border-collapse: collapse;
}
th{
    background-color:rgb(213, 211, 211);
    border: 1px solid black;
    border-collapse: collapse;
    margin:0;

}

td{
    background-color: white;
    border: 1px solid black;   
    padding: 10px; 
}