header{
    position: sticky;
    top: 0;
    z-index: 1;
}
header p {
    background-color: red;
    text-align: center;
    padding: 2vw;
    margin:0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    
}
header nav{
    background-color: black;
    height: 4vh;
    display: flex;
    flex-direction: row;

}
nav button{
    width: 13vw;
    margin:0px;
    background-color: blue;
    padding: 0px;
    color: white;
    height: 6vh;
}
button:hover{
    background-color: rgb(123, 90, 4);
    color: white;
}
body{
    display: flex;
    flex-direction: row;
    margin: 0px;

}
main{
    width: auto;
    margin: 0px;
}
h1{
    text-align: center;
}
#jumpMenu{
    background-color: goldenrod;
    text-align: center;
    width: auto;
    display:flex;
    flex-direction: column;
    margin:0px;    
}
#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
article{
    width: 250px;
    margin: 28px;
}
article p {
    text-align: justify;
}
#thanks{
    background-color: lightskyblue;
    color: black;
    border: 1px solid black;
    right:0;
    position: fixed;
    bottom:0;
    font-size: xx-large;
    padding: 20px;
    margin:0;
    align-self: auto;
}
#menuItems {
    background-color: black;
    width:14%;
    margin: 0px;
    padding: 0px;
    display: block;
}
li#jumpMenu{
    width:auto;
    padding:0px auto;
    height: 5px;
}
ul#jumpMenu{
    width:100%;
    padding:0px;
    align-items: center;    
    list-style: none;
    margin:0px;
    display:block;
}
ul#jumpMenu li a {
    text-decoration: none;
    line-height: 2;
    width: 100%;
    display: none;
    padding:0px;
}
#recentArticles:hover ~ ul#jumpMenu li a {
    display: block;
}

#recentArticles:focus-within~ ul#jumpMenu li a{
    display: inline-block;
    height: 100%;
    width: 100%;
}


ul#jumpMenu li a:hover{
    background-color: blue;
    color:black; 
    display: block;
}
ul#jumpMenu li :not(:focus-within){
    display: none;
}
article:not(a){
   color:rgb(185, 182, 182);
}
article:hover{
    color:black;
    transform: scale(1.22);
    transition-duration: 2s;
}
article:not(:hover){
    transition-duration: 2s;
}
article a::after{
    content: url(arrow.png);
    vertical-align: baseline;
}
article p:not(:has(a))::first-letter{
    font-size:36px;
    font-family: 'Times New Roman';
}