header{
     position: sticky;
    top: 0;
}
header p {
    background-color: red;
    text-align: center;
    padding: 2vw;
    margin:0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
   
}
header nav{
    background-color: black;
    height: 4vh;
    display: flex;
    flex-direction: row;

}
nav button{
    width: 15vw;
    margin:0 auto;
    background-color: blue;
    color: white;
}
body{
    display: flex;
    flex-direction: row;
    margin: 0px;

}
main{
    width: auto;
    margin: 0px;
}
h1{
    text-align: center;
}
#jumpMenu{
    background-color: goldenrod;
    text-align: center;
    min-width: 15%;
    display: flex;
    flex-direction: column;
    line-height: 3vh;
    
    
}
#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
article{
    width: 250px;
    margin: 20px;
}
article p {
    text-align: justify;
}
#thanks{
    background-color: lightskyblue;
    color: black;
    border: 1px solid black;
    right:0;
    position: fixed;
    bottom:0;
    font-size: xx-large;
    padding: 20px;
    margin:0;
    align-self: auto;
}

