body{
    display: flex;
    flex-direction: column;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#topNav{
    margin: auto;
    width: 100%;
    text-align: center;
}
#main{
    width: 70%;
    height: 100%;
    background-color: white;
    border: 5px solid rgb(207, 177, 6);
    border-radius: 30px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    padding: 20px;
}
label{
    display: block;
    font-size: large;
}

button{
    background-color: #021c49;
    color:rgb(207, 177, 6);
    border: 2px solid rgb(207, 177, 6);
    border-radius: 5px;
    font-size: large;
    font-weight: bolder;
}
#imageContainer {
    min-height: 30vh;
    max-width: 30vh;
    margin: auto;
}
#imageContainer img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
div.skills{
    display:flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}
#skills{
    display:flex;
    width: 80%;
    margin:auto;
}
select{
   width: 100%;
   color: black;
}
div.teams{
    display: flex;
    flex-direction: row;
    width: 90%;
    border: 2px solid black;
    text-align: center;
    margin: auto;
    max-height: 15vh;
}
div.teams>img{
    margin: auto;
}
ul{
    padding: 0px;
    margin: auto;
    justify-content: left;
}
#pokemonName{
    font-size: xx-large;
}
@media screen and (max-width: 600px){
 #main{
    width: 80%;
 }
 ul{
    font-size: x-small;
 }
}
    
